p {
  font-family: "comic Sans MS", cursive, sans-serif;
  font-weight: 400;
  text-indent: 32px;
}

a.survey {
  background-color: aqua;
  margin: 150px 30px;
}

.pic {
  width: 550px;
  height: 350px;
}
